@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 0;
}

h1,
h2 {
  text-wrap: balance;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Belanosima", sans-serif;
  color: #794dff;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  color: #c6b3ff;
}

p {
  margin: 0;
}

pre {
  box-sizing: border-box;
  overflow: auto;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.1);
  color: #e6e6e6;
}
pre code {
  background-color: transparent;
}

code {
  text-wrap: wrap;
  font-size: 0.9rem;
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.1);
  color: rgba(230, 230, 230, 0.75);
  font-family: "JetBrains Mono", monospace;
}

ul {
  padding-left: 20px;
}
ul li {
  color: #e6e6e6;
  margin-bottom: 10px;
}

html {
  height: 100%;
}
html body {
  display: grid;
  grid-template-rows: 1fr 300px 1fr;
  height: 100%;
  margin: 0;
  padding: 0 15%;
  background-color: #060038;
  background-size: cover;
  background-image: url("../../public/img/bg-dark.svg");
  background-repeat: no-repeat;
}
html body #logo {
  font-family: "Permanent Marker", serif;
  color: #8696fe;
  font-size: 1.2rem;
}
html body .separator {
  width: 100%;
  min-height: 1px;
  opacity: 0.1;
  margin: 50px 0;
  background-color: #e6e6e6;
}
html body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
html body header .content {
  color: #e6e6e6;
}
html body #wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 150px;
}
html body #wrapper main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 9999;
}
html body #wrapper aside {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  flex-basis: 300px;
}
html body #wrapper aside section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
html body #wrapper aside #top-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
html body #wrapper aside #top-posts {
  width: fit-content;
}
html body #wrapper aside #top-posts button {
  text-align: left;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
html body #wrapper aside #top-posts button svg {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  color: #c6b3ff;
}
html body footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  color: #e6e6e6;
}
html body footer #copyright {
  opacity: 0.5;
}
html body footer #author {
  opacity: 0.75;
}
html body .loading-fallback-wrapper {
  position: absolute;
  left: 50%;
  translate: -50% 0;
}
html body .loading-fallback-wrapper svg {
  width: 30px;
  height: 30px;
  color: #e6e6e6;
  opacity: 0.5;
}
html body .hidden {
  position: absolute;
  opacity: 0;
  top: -20px;
}

@media screen and (max-width: 500px) {
  header {
    align-items: center;
  }
  header .content {
    align-items: center;
  }

  h1,
h2 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  ul p {
    text-align: left;
  }

  html body {
    padding: 0 20px;
  }
  html body #wrapper #top-tags .tag {
    flex: 1;
    flex-basis: 100px;
  }
  html body #wrapper #top-posts {
    align-self: center;
  }
  html body footer {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
[data-theme=light] body {
  background-image: url("../../public/img/bg-light.svg");
  background-color: #4c44e4;
}
[data-theme=light] h1,
[data-theme=light] h2 {
  color: #e6e6e6;
}
[data-theme=light] #logo {
  color: #10009e;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
#main-nav button {
  font-size: 0.9rem;
}
#main-nav .subpage-links {
  display: flex;
  gap: 50px;
}
#main-nav .settings {
  display: flex;
  gap: 30px;
  align-items: center;
}
#main-nav .settings .menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  #main-nav .subpage-links {
    display: none;
  }
  #main-nav .settings .menu {
    display: contents;
  }
}
@media screen and (max-width: 400px) {
  #main-nav .settings button:not(.menu) {
    display: none;
  }
}
[data-theme=light] #main-nav button {
  color: #060038;
}
[data-theme=light] #main-nav button:hover {
  color: #4c44e4;
}

button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
button svg,
.btn svg {
  width: 15px;
  min-height: 15px;
  color: #e6e6e6;
}
button svg[data-color=stroke],
.btn svg[data-color=stroke] {
  stroke: #e6e6e6;
}
button svg[data-color=fill],
.btn svg[data-color=fill] {
  fill: #e6e6e6;
}
button.nav,
.btn.nav {
  background-color: transparent;
  transition-property: color;
  color: #e6e6e6;
}
button.nav svg,
.btn.nav svg {
  width: 20px;
  min-height: 20px;
}
button.nav:hover,
.btn.nav:hover {
  color: #8696fe;
}
button.transparent,
.btn.transparent {
  background-color: transparent;
  transition-property: color;
  color: #e6e6e6;
}
button.transparent:hover,
.btn.transparent:hover {
  color: #8696fe;
}
button.secondary,
.btn.secondary {
  padding: 5px 10px;
  background-color: transparent;
  transition-property: color;
  color: #e6e6e6;
}
button.secondary:hover,
.btn.secondary:hover {
  color: #8696fe;
}
button.tag,
.btn.tag {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4c44e4;
  color: #e6e6e6;
}
button.tag:hover,
.btn.tag:hover {
  background-color: #7670eb;
  scale: 1.05;
}

[data-theme=light] button span {
  color: #e6e6e6;
}
[data-theme=light] button svg {
  color: #1c1c1c;
}
[data-theme=light] button svg[data-color=stroke] {
  stroke: #1c1c1c;
}
[data-theme=light] button svg[data-color=fill] {
  fill: #1c1c1c;
}
[data-theme=light] button.tag {
  color: #10009e;
  background-color: #e6e6e6;
}
[data-theme=light] button.tag:hover {
  background-color: #f2f2f2;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.card p {
  color: #cccccc;
}
.card .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.card .info .header {
  transition: color 0.2s ease-out;
}
.card .info .metadata {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card .info .metadata .tags {
  opacity: 0.25;
}
.card .info .metadata .date {
  opacity: 0.5;
}
.card .btns {
  display: flex;
  gap: 10px;
}
.card:hover .info .header {
  color: #8696fe;
}

@media screen and (max-width: 500px) {
  .card .info {
    flex-direction: column;
    text-align: center;
  }
  .card .info .metadata {
    align-self: flex-start;
    flex-direction: row-reverse;
  }
  .card .summary {
    text-align: justify;
  }
  .card .btns {
    justify-content: right;
  }
}
a,
a:visited {
  color: #e6e6e6;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #8696fe;
}

#menu {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  padding: 50px;
  opacity: 0;
  background-color: #1c1c1c;
  transition: opacity 0.5s ease-out, top 0.5s ease-out, background-color 0.2s ease-out;
}
#menu .header {
  color: #794dff;
}
#menu svg {
  width: 30px;
  height: 30px;
}
#menu button.close {
  position: absolute;
  top: 20px;
  right: 20px;
}
#menu .subpage-links button {
  font-size: 1.5rem;
}
#menu .subpage-links button svg {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
#menu .settings {
  display: flex;
  gap: 50px;
}

html:has(#menu[data-active=true]) {
  overflow: hidden;
}

#menu[data-active=true] {
  opacity: 1;
  top: 0;
}

[data-theme=light] #menu {
  background-color: #e6e6e6;
}
[data-theme=light] #menu button {
  color: #1c1c1c;
}
[data-theme=light] #menu button svg {
  color: #1c1c1c;
}
[data-theme=light] #menu button:hover {
  color: #4c44e4;
}

#post-content {
  position: relative;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  margin-top: 50px;
  margin-bottom: 30px;
}
#post-content p {
  color: #e6e6e6;
}

header .title {
  position: relative;
  top: 0;
  transition: opacity 0.5s ease-out, top 0.5s ease-out;
}
header .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  transition: opacity 0.5s ease-out, top 0.5s ease-out;
}
header .content .created {
  opacity: 0.75;
  margin-bottom: 15px;
}
header .content .tags {
  display: flex;
  width: fit-content;
  gap: 10px;
}
header .content .tags .tag {
  flex: 1;
  flex-basis: 100px;
}

/*# sourceMappingURL=post_page.css.map */
