// $dark-blue: hsl(211, 67%, 17%);
// $blue: hsl(211, 67%, 20%);
// $light-blue: hsl(211, 67%, 40%);
// $whiteish-blue: hsl(211, 67%, 60%);
$black-grey: hsl(246, 0%, 11%);
$dark-grey: hsl(246, 0%, 21%);
$grey: hsl(246, 0%, 31%);

$black-navy: hsl(246, 100%, 11%);
$dark-navy: hsl(246, 100%, 16%);
$navy: hsl(246, 100%, 31%);

$dark-blue: hsl(232, 98%, 46%);
$blue: hsl(243, 75%, 58%);
$light-blue: hsl(232, 98%, 76%);

$purple: hsl(255, 100%, 65%);
$light-purple: hsl(255, 100%, 85%);

$white: hsl(0, 0%, 90%);
$white-10: hsla(0, 0%, 90%, .1);
$white-75: hsla(0, 0%, 90%, .75);
$darker-white: hsl(0, 0%, 80%);